.fundo {

    --background: linear-gradient(to right, #F8FFAE, #43C6AC);
}

ion-button {
    --background: #47d36a;
    --color: black;
}

ion-item {
    --background: linear-gradient(to right, #F8FFAE, #43C6AC);
    --color: rgb(20, 20, 18);
    font-weight: 700;
}

